<ion-view view-title="Novedades">
  <ion-content>
    <ion-list class="animate-ripple">
      <ion-item class="item-icon-right item-avatar" ng-repeat="producto in novedades">
          <img src="../img/coto.png">
          <a style="text-decoration: none; color: black;" href="#/app/newsdetail/{{producto.codigo}}">{{producto.descripcion}}</a>
          <p>Colchon para homeworking!!</p>
          <i class="icon icon ion-ios-cart" ng-click="shopping(producto.codigo);"><span class="badge badge-assertive icon-badge">{{shoppAmmount}}</span></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

